<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav
    #sidenavRight
    mode="side"
    opened
    class="left-sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <div
      *ngIf="!showIconsOnly"
      style="background: #ffffff; height:60px; padding:4%;"
    >
      <span class="logo-lg">
        <img
          style="max-width: 95%; padding:5%;"
          src="/assets/images/logo.png"
          class="img-responsive"
        />
      </span>
    </div>
    <div
      *ngIf="showIconsOnly"
      style="background: #ffffff; height:60px; padding:4%;"
    >
      <span class="logo-mini">
        <img
          style="max-width: 82%; padding: 1%; padding-top: 10%;"
          src="/assets/images/mini-logo.png"
          class="img-responsive"
        />
      </span>
    </div>
    <div *ngIf="showIconsOnly" style="width: 100%;">
      <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Admin</li>
          <li>
            <a routerLink="admin">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div *ngIf="!showIconsOnly">
      <section class="sidebar paddingRight">
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Admin</li>
          <!-- <li>
            <a routerLink="admin">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span>Admin</span>
            </a>
          </li> -->
          <li>
            <a routerLink="customermanagement">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span>Manage Users</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [formGroup]="options">
    <div class="example-sidenav-content">
      <div class="sticky-toolbar">
        <div style="float:left; width:35%;">
          <button
            mat-button
            (click)="toggleRightNav()"
            style="float:left; margin-left:4%; margin-top: 2%;"
          >
            <i class="fa fa-bars"></i>
          </button>
          <button
            id="rtBttn"
            mat-button
            (click)="sidenavRight.toggle()"
            style="float:left; display: none;"
          >
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div style="float:left; width:50%;">
          <button
            mat-button
            (click)="LogOut()"
            style="float:right; margin-top: 2%; margin-right: 2%;"
          >
            <i class="fa fa-power-off"></i>
          </button>
          <!-- <button
            mat-button
            (click)="sidenavLeft.toggle()"
            style="float:right; margin-top: 2%; margin-right: 2%;"
          >
            <i class="fa fa-ellipsis-v"></i>
          </button> -->
        </div>
      </div>
      <div class="push"></div>
      <div style="background: #ECEFF4; top: 60px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
