<div>
    <section class="content-header">
        <h1> <i class="fa fa-users" aria-hidden="true"></i> Create Sub User</h1>
    </section>

    <form>
        <section class="content shopPrice">
            <div class="row" style="margin-bottom: 0; overflow-y: auto;">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <!-- <div class="row newcustomer">
                            <h3>New Customer</h3>
                        </div> -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="createSubUser">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput placeholder="First Name" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput placeholder="Middle Address" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput placeholder="Last Address" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput placeholder="Login Email" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input type="password" matInput placeholder="Password" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input type="password" matInput placeholder="Confirm Password" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <mat-label>Uer Role</mat-label>
                                            <mat-select [(value)]="selectedCountry">
                                                <mat-option *ngFor="let role of userRoles" [value]="role">
                                                    {{ role }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <!-- <h4><b>Functionality Access</b></h4> -->
                            <div class="tab-pane active" id="userAccessInfo">
                                <div class="row" style="margin-top: 20px;">
                                    <!-- <div class="col-sm-12"> -->
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>Functionality Access</th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="readAccess">
                                            <th mat-header-cell *matHeaderCellDef> Read </th>
                                            <td mat-cell *matCellDef="let element">
                                                <mat-checkbox id="{{ 'read_' + i }}" [checked]="element.readAccess">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="writeAccess">
                                            <th mat-header-cell *matHeaderCellDef> Write </th>
                                            <td mat-cell *matCellDef="let element">
                                                <mat-checkbox id="{{ 'write_' + i }}" [checked]="element.writeAccess">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="reportView">
                                            <th mat-header-cell *matHeaderCellDef> Report View </th>
                                            <td mat-cell *matCellDef="let element"> {{element.reportView}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="authorizedONDs">
                                            <th mat-header-cell *matHeaderCellDef> Authorized ONDs</th>
                                            <td mat-cell *matCellDef="let element">
                                                <input matInput placeholder="ONDs" />
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <!-- </div> -->
                                </div>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm-2">
                                        <button mat-button class="btn addUser BtnCss">
                                            Save
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button mat-button class="btn addUser BtnCss">
                                            Create User
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button mat-button class="btn addUser BtnCss">
                                            Reset
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>