<!-- Content Wrapper. Contains page content -->
<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <i class="fa fa-user" aria-hidden="true"></i>Edit Customer
    </h1>
  </section>

  <!-- Main content -->
  <form #userForm="ngForm">
    <section class="content shopPrice">
      <div class="row" style="margin-bottom: 0; overflow-y: auto;">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <div class="row newcustomer">
              <h3>Customer</h3>
            </div>

            <div class="tab-content">
              <h4>Company Information</h4>
              <div class="tab-pane active" id="companyInfo">
                <div class="row" style="margin-top: 20px">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="Company Name"
                        [(ngModel)]="user.companyinfo.companyname"
                        name="companyname"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="Company Address"
                        [(ngModel)]="user.companyinfo.companyaddress"
                        name="companyaddress"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <mat-label>Country</mat-label>
                      <mat-select
                        name="country"
                        [(ngModel)]="user.companyinfo.countries"
                        required
                      >
                        <mat-option
                          *ngFor="let country of countries"
                          [value]="country.countryName"
                        >
                          {{ country.countryName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-top: 20px">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <mat-label>Company Type</mat-label>
                      <mat-select
                        placeholder="Company Type"
                        name="companytype"
                        [(ngModel)]="user.companyinfo.companytype"
                        required
                      >
                        <mat-option
                          *ngFor="let ctype of companyType"
                          [value]="ctype.categoryName"
                        >
                          {{ ctype.categoryName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <mat-label>Business Type</mat-label>
                      <mat-select
                        placeholder="Business Type"
                        name="businesstype"
                        [(ngModel)]="user.companyinfo.businesstype"
                        required
                      >
                        <mat-option
                          *ngFor="let businessType of businessTypes"
                          [value]="businessType.categoryName"
                        >
                          {{ businessType.categoryName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        type="text"
                        matInput
                        placeholder="Phone"
                        name="companycontact"
                        [(ngModel)]="user.companyinfo.companycontact"
                        #companycontact="ngModel"
                        pattern="[0-9]+"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-top: 20px">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        type="email"
                        matInput
                        placeholder="E-mail ID"
                        name="emailid"
                        [(ngModel)]="user.companyinfo.emailid"
                        #emailid="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!--Company Info end -->

              <!--Contact Information -->
              <h4>Contact Information</h4>
              <div class="tab-pane active" id="customerInfo">
                <div class="row" style="margin-top: 20px">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="First Name"
                        name="firstname"
                        [(ngModel)]="user.contactinfo.firstname"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="Middle Name"
                        name="middlename"
                        [(ngModel)]="user.contactinfo.middlename"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="Last Name"
                        name="lastname"
                        [(ngModel)]="user.contactinfo.lastname"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" style="margin-top: 20px">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        placeholder="Contact Number"
                        name="contactnumber"
                        [(ngModel)]="user.contactinfo.contactnumber"
                        #contactnumber="ngModel"
                        pattern="[0-9]+"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        type="email"
                        matInput
                        placeholder="E-mail ID"
                        name="userid"
                        [(ngModel)]="user.contactinfo.userid"
                        #userid="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="Designation/Role"
                        name="designationrole"
                        [(ngModel)]="user.contactinfo.designationrole"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row" style="margin-top: 20px">
                  <div class="col-sm-8">
                    <mat-checkbox formControlName="cloneMainUser"></mat-checkbox>
                    <label for="cloneMainUser" style="font-weight: normal">Clone Main User Attributes</label>
                  </div>
                </div> -->
              </div>
              <!--Contact Information end -->

              <h4><b>Access To</b></h4>
              <div class="tab-pane active" id="userAccessInfo">
                <div class="row" style="margin-top: 20px;">
                  <ng-container>
                    <mat-table
                      [dataSource]="dataSourceAccess"
                      class="mat-elevation-z8"
                    >
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>
                          Functionality Access
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{ element.name }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="isSubscribed">
                        <mat-header-cell *matHeaderCellDef>
                          Subscribed
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element; let index = index">
                          <!-- {{ element.isSubscribed }} -->
                          <mat-slide-toggle
                            id="{{ 'toggle_' + index }}"
                            class="tp-margin"
                            name="{{ 'enableFeature_' + i }}"
                            [(ngModel)]="
                              user.useraccess.functionalities[index]
                                .isSubscribed
                            "
                          ></mat-slide-toggle>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="readaccess">
                        <mat-header-cell *matHeaderCellDef
                          >Read</mat-header-cell
                        >
                        <mat-cell *matCellDef="let element; let index = index">
                          <mat-checkbox
                            id="{{ 'read_' + index }}"
                            [checked]="element.readaccess"
                            [(ngModel)]="
                              user.useraccess.functionalities[index].readaccess
                            "
                            name="{{ 'readAccess_' + index }}"
                            [disabled]="
                              !user.useraccess.functionalities[index]
                                .isSubscribed
                            "
                          >
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="writeaccess">
                        <mat-header-cell *matHeaderCellDef
                          >Write</mat-header-cell
                        >
                        <mat-cell *matCellDef="let element; let index = index">
                          <mat-checkbox
                            id="{{ 'write_' + index }}"
                            [checked]="element.writeaccess"
                            [(ngModel)]="
                              user.useraccess.functionalities[index].writeaccess
                            "
                            name="{{ 'writeAccess_' + index }}"
                            [disabled]="
                              !user.useraccess.functionalities[index]
                                .isSubscribed
                            "
                          >
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></mat-row>
                    </mat-table>
                  </ng-container>
                  <!-- </div> -->
                </div>
              </div>

              <div class="row" style="margin-top: 20px;">
                <h4><b>Origin and Destinations</b></h4>
                <!-- <div class="col-sm-12"> -->
                <ng-container>
                  <mat-table
                    [dataSource]="dataSourceONDs"
                    class="mat-elevation-z8"
                  >
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                          (change)="OnSelectAll($event, index, row)"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="
                            selection.hasValue() && !isAllSelected()
                          "
                          [aria-label]="checkboxLabel()"
                          name="selectAll"
                        >
                        </mat-checkbox>
                        <mat-label>Select All</mat-label>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let index = index">
                        <mat-checkbox
                          (change)="OnSelect($event, index, row)"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          name="selectOND"
                        >
                        </mat-checkbox>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="origin">
                      <mat-header-cell *matHeaderCellDef
                        >Origin</mat-header-cell
                      >
                      <mat-cell *matCellDef="let element; let index = index"
                        >{{ element.origin }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="destination">
                      <mat-header-cell *matHeaderCellDef
                        >Destination</mat-header-cell
                      >
                      <mat-cell *matCellDef="let element; let index = index"
                        >{{ element.destination }}
                      </mat-cell>
                    </ng-container>

                    <mat-header-row
                      *matHeaderRowDef="displayedColumnsONDs"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumnsONDs"
                    ></mat-row>
                  </mat-table>
                </ng-container>
                <!-- </div> -->
              </div>

              <div class="row" style="margin-top: 20px">
                <div class="col-sm-10">
                  <button
                    type="button"
                    (click)="onFormSubmit()"
                    mat-button
                    class="btn addUser  tnCss"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  <!-- /.content -->
</div>
