input.mat-input-element {
  background: 0 0 !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #8cbe27 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #8cbe27 !important;
}
.mat-select {
  width: 100% !important;
}
.alert-success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.alert-dismissible {
  padding-right: 4rem;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.fade {
  transition: opacity 0.15s linear;
}
