@font-face {
    font-family: 'Roboto-Medium';
    src: url('/assets/fonts/Roboto-Medium.woff2') format('woff2'), url('/assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2'), url('/assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Roboto-Regular';
}

p {
    margin-bottom: 20px;
}

.loginBox {
    display: table;
    width: 100%;
}

.loginBox .tableCellBox {
    display: table-cell;
    width: 50%;
    padding: 55px 100px;
    height: auto;
}

.loginFormBox {
    background: #fff;
}

.nopadding {
    padding: 0;
}

.loginBox h2 {
    font-size: 45px;
    font-family: 'Roboto-Regular';
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;
    margin-top:25px;
}

.loginBox h2:after {
    display: block;
    content: "";
    width: 100px;
    height: 9px;
    background: #fff;
    margin-top: 15px;
}

.loginBanner .contentBox {
    position: relative;
}

.loginBanner .contentBox:before {
    content: "";
    display: block;
    background: url(../images/left-angle.png) no-repeat top left;
    height: 210px;
    width: 140px;
    position: absolute;
    left: -50px;
    top: -55px;
}

.loginBanner .contentBox:after {
    content: "";
    display: block;
    background: url(../images/right-angle.png) no-repeat bottom right;
    height: 210px;
    width: 140px;
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.loginBanner .contentBox p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Roboto-Regular';
}

.loginFormBox .logo a {
    top: -40px;
    display: inline-block;
    margin-right: -80px;
    position: relative;
    width: 300px;
}

.loginFormBox h4 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto-Regular';
}

.loginFormBox label {
    font-size: 14px;
    color: #999999;
    font-weight: 600;
    font-family: 'Roboto-Regular';
}

.loginFormBox input,
.loginFormBox select {
    height: auto;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 10px;
    background: #eaeaea;
}


.loginFormBox a {
    color: #999;
}

.rememberMe label {
    background: url(../images/checkbox-circle.png) no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
}

.rememberMe input[type='checkbox']:checked + label {
    background: url(../images/checkbox-circle-checked.png) no-repeat left center;
    background-size: 20px;
}

.loginFormBox .BtnCss {
    color: #fff;
    font-size: 16px;
    background: #82b726;
    padding: 8px 45px;
    border-radius: 0;
}

@media(max-width:991px) {

    .loginFormBox .logo a {
        margin-right: 0;
    }

    .loginBox .tableCellBox {
        display: inherit;
        width: 100%;
        padding: 100px 80px 120px;
    }
}
