.newcustomer {
  background-color: #f1f1f1;
  padding: 8px 20px;
  margin: -15px 0px;
}
.addUser {
  color: #fff;
  font-size: 16px;
  background: #82b726;
  /* padding: 8px 45px; */
  border-radius: 0;
}

table {
  width: 100% !important;
}