<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Shop Stats</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="table table-responsive nomargin">
          <table id="example2" class="table table-hover nomargin">
            <thead>
              <tr>
                <th>Job Id</th>
                <th>Job Name</th>
                <th>Account</th>
                <th>Report Type</th>
                <th>App</th>
                <th>OND</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>Finish Time</th>
                <th>Run Duration</th>
                <th>Request Count</th>
                <th>Request Failure</th>
                <th>Sufficiency</th>
                <th>Download</th>
                <th>Status(%)</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>432442</td>
                <td>Max Test</td>
                <td>-</td>
                <td>-</td>
                <td>Hotel</td>
                <td>Delhi</td>
                <td>9, Jan 2019</td>
                <td>10:12AM</td>
                <td>12:12PM</td>
                <td>2hr</td>
                <td>2</td>
                <td>0</td>
                <td>NA</td>
                <td class="text-center">
                  <i
                    class="fa fa-arrow-circle-o-down downloadIcon"
                    aria-hidden="true"
                  ></i>
                </td>
                <td>
                  <div class="progress progress-xxs">
                    <span>70%</span>
                    <div
                      class="progress-bar progress-bar-success"
                      style="width: 70%"
                    ></div>
                  </div>
                </td>
                <td><i class="fa fa-pencil"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="">
          <div class="pagination">
            <ul class="list-inline">
              <li>
                <button class="btn">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="btn">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
              </li>
              <li>1-5 of 5</li>
            </ul>
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
