<div>
    <body>
    <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Shop Price</h1>
        </section>

        <!-- Main content -->
        <section class="content shopPrice">
            <div class="row" style="margin-bottom: 0">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#reportInfo" data-toggle="tab">Report Information</a></li>
                            <li><a href="#journeyInfo" data-toggle="tab">Journey Information</a></li>
                            <li><a href="#dates" data-toggle="tab">Dates</a></li>
                            <li><a href="#channel" data-toggle="tab">Channel</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="reportInfo">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Report Name" [(ngModel)]="shop.reportInfo.reportName"/>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <!-- <mat-checkbox [checked]="scheduledReportButton"  (change)="onChange()"></mat-checkbox> -->
                                             <mat-checkbox [checked]="scheduledReportButton" (change)="onChange()" ></mat-checkbox>
                                            <!-- <input type="checkbox" id="scheduledReportButton"/> -->
                                            <label for="scheduledReportButton" style="font-weight: normal">Schedule the Report</label>
                                        </p>
                                    </div>
                                </div>

                                <div id="ScheduledReport" *ngIf="scheduledReportButton">
                                    <h4>Scheduled Report</h4>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h5>Repeat</h5>
                                        <mat-select [(ngModel)]="selectedFrequency">
                                            <mat-option *ngFor = "let frequency of shop.reportInfo.frequency" [value] = "frequency">
                                                {{frequency}}
                                            </mat-option>
                                        </mat-select>                                           
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div id="Daily" *ngIf="selectedFrequency==='Daily'">
                                            <div class="row">
                                                <div class="col-sm-12">                                                     
                                                    <ul class="nav nav-tabs nopadding radioButton">
                                                        <li class="active"><a href="#Every" data-toggle="tab">Every</a></li>
                                                        <li><a href="#EveryWeekday" data-toggle="tab">Every Weekday</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="Every">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                     <mat-select placeholder="Every Day(s)">
                                                                        <mat-option *ngFor = "let daysOfDelivery of shop.reportInfo.daysOfDelivery" [value] = "daysOfDelivery">
                                                                            {{daysOfDelivery}}
                                                                        </mat-option>
                                                                    </mat-select>  
                                                                    <!-- <input type="text" class="form-control" placeholder="Every Day(s)"/> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="EveryWeekday">

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="Weekly" *ngIf="selectedFrequency==='Weekly'">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="dropBoxSection">
                                                        <div class="form-control dropboxHead">On days <i class="fa fa-caret-down pull-right"></i></div>
                                                        <ul class="dropbox">
                                                            <li *ngFor="let classofService of shop.reportInfo.daysOfDelivery">
                                                                <mat-checkbox [(ngModel)]="classofService"></mat-checkbox> 
                                                                <label for="{{classofService}}">{{classofService}}</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Monthly" *ngIf="selectedFrequency==='Monthly'">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="dropBoxSection">
                                                        <div class="form-control dropboxHead">On days <i class="fa fa-caret-down pull-right"></i></div>
                                                        <ul class="dropbox">
                                                            <li *ngFor="let onDays of shop.reportInfo.daysOfDelivery">
                                                                <mat-checkbox [(ngModel)]="onDays"></mat-checkbox> 
                                                                <label for="{{onDays}}">{{onDays}}</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="nav nav-tabs nopadding radioButton">
                                                        <li class="active"><a href="#EveryMonth" data-toggle="tab">Every</a></li>
                                                        <li><a href="#Recuron" data-toggle="tab">Recur on</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="EveryMonth">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="dropBoxSection">
                                                                        <div class="form-control dropboxHead">Week Number <i class="fa fa-caret-down pull-right"></i></div>
                                                                        <ul class="dropbox">
                                                                            <li *ngFor="let week of shop.reportInfo.weeksOfDelivery">
                                                                                <mat-checkbox [(ngModel)]="week"></mat-checkbox> 
                                                                                <label for="{{week}}">{{week}}</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="dropBoxSection">
                                                                        <mat-select placeholder="On Days">
                                                                        <mat-option *ngFor = "let daysOfDelivery of shop.reportInfo.daysOfDelivery" [value] = "daysOfDelivery">
                                                                            {{daysOfDelivery}}
                                                                        </mat-option>
                                                                    </mat-select> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="Recuron">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="dropBoxSection">
                                                                        <div class="form-control dropboxHead">Week Number <i class="fa fa-caret-down pull-right"></i></div>
                                                                        <ul class="dropbox">
                                                                            <li *ngFor="let weekNo of shop.reportInfo.weekNumber">
                                                                                <mat-checkbox [(ngModel)]="weekNo"></mat-checkbox> 
                                                                                <label for="{{weekNo}}">{{weekNo}}</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h5>Repeat Generation Time</h5>
                                                
                                                 <mat-select>
                                                                        <mat-option *ngFor = "let reportTime of shop.reportInfo.repeateGenerationTime" [value] = "reportTime">
                                                                            {{reportTime}}
                                                                        </mat-option>
                                                                    </mat-select>
                                            </div>
                                        </div>
                                        <h4>Range of Schedule </h4>
                                        <div class="row">

                                            <div class="col-sm-5">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="pickerFrom" placeholder="From">
                                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                                    <mat-datepicker #pickerFrom></mat-datepicker>
                                                </mat-form-field>
                                                <!-- <input type="text" class="form-control datepicker outbonffrom" placeholder="From"/> -->
                                            </div>
                                            <div class="col-sm-5">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="pickerTo" placeholder="To">
                                                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                                    <mat-datepicker #pickerTo></mat-datepicker>
                                                </mat-form-field>
                                                <!-- <input type="text" class="form-control datepicker outbonfto" placeholder="To"/> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                            </div>


                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="journeyInfo">
                                <h4>Journey &amp; Flight Information</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                       <mat-select placeholder="Journey Type">
                                            <mat-option *ngFor = "let journeyType of shop.journeyInfo.journeyType" [value] = "journeyType">
                                                {{journeyType}}
                                            </mat-option>
                                        </mat-select>  
                                    </div>
                                    <div class="col-sm-4">

                                        <mat-select placeholder="Currency Type">
                                            <mat-option *ngFor = "let currencyType of shop.journeyInfo.currencyType" [value] = "currencyType">
                                                {{currencyType}}
                                            </mat-option>
                                        </mat-select>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>Passenger Type</h4>
                                        <p>Passenger Count</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- <p>Adult</p> -->
                                         <mat-select placeholder = "Adult" >
                                        <mat-option *ngFor = "let adultCount of shop.journeyInfo.adultPaxCount" 
                                            [value] = "adultCount">
                                            {{adultCount}}
                                        </mat-option>
                                        </mat-select>                                       
                                        <p>12+ Years</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- <p>Child</p> -->
                                        <mat-select placeholder = "Child" >
                                        <mat-option *ngFor = "let childCount of shop.journeyInfo.childPaxCount" 
                                            [value] = "childCount">
                                            {{childCount}}
                                        </mat-option>
                                        </mat-select>                                        
                                        <p>2 to 12 Years</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- <p>Infant</p> -->
                                        <mat-select placeholder = "Infant" >
                                        <mat-option *ngFor = "let infantCount of shop.journeyInfo.infantPaxCount" 
                                            [value] = "infantCount">
                                            {{infantCount}}
                                        </mat-option>
                                        </mat-select>
                                        <p>0 to 2 Years</p>
                                    </div>
                                </div>
                                <h4>Flight Information</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dropBoxSection">
                                            <div class="form-control dropboxHead">Class of Service <i class="fa fa-caret-down pull-right"></i></div>
                                            <ul class="dropbox">
                                                <li *ngFor="let classofService of shop.journeyInfo.flightInfo.classOfServices">
                                                    <mat-checkbox [(ngModel)]="classofService"></mat-checkbox> 
                                                    <label for="{{classofService}}">{{classofService}}</label>
                                                </li>                                                                                              
                                            </ul>                                         
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dropBoxSection">
                                            <div class="form-control dropboxHead">Stops <i class="fa fa-caret-down pull-right"></i></div>
                                            <ul class="dropbox">
                                                <li *ngFor="let stop of shop.journeyInfo.flightInfo.stops">
                                                    <mat-checkbox [(ngModel)]="stop"></mat-checkbox> 
                                                    <label for="stop">{{stop}}</label>
                                                </li>                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" [(ngModel)]="shop.journeyInfo.flightInfo.originAndDestinations" class="form-control originDestination" placeholder="Origin and Destination"/>  
                                    </div>

                                    <div class="col-sm-2">
                                        <button type="button" class="btn bggreen addOriginDestination"><i class="fa fa-plus-circle"></i> Add</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="selectedOrigin">
                                            <div class="table table-responsive">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Origin</th>
                                                            <th>Destination</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="dropBoxSection">
                                            <div class="form-control dropboxHead">Airlines <i class="fa fa-caret-down pull-right"></i></div>
                                            <ul class="dropbox" >
                                                <li *ngFor="let airline of shop.journeyInfo.flightInfo.airlines">
                                                    <mat-checkbox [(ngModel)]="airline.airlineCode"></mat-checkbox> 
                                                    <label for="{{airline.airlineCode}}">{{airline.airlineName}}</label>
                                                </li>                                                
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="row margin30pxTop">
                                    <div class="col-sm-12">
                                        <p><mat-checkbox [(ngModel)]="term"></mat-checkbox><label for="term">Apply OND in Reverse order</label></p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="dates">
                                <h4>Apply Dates</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs nopadding radioButton">
                                            <li class="active"><a href="#Consecutive" data-toggle="tab">Continuos</a></li>
                                            <li><a href="#Preferred" data-toggle="tab">Preferred</a></li>
                                            <li><a href="#Range" data-toggle="tab">Range</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="Consecutive">
                                                <h4>Outbond Date Range</h4>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="outbonffrom" placeholder="From">
                                                                    <mat-datepicker-toggle matSuffix [for]="outbonffrom"></mat-datepicker-toggle>
                                                                    <mat-datepicker #outbonffrom></mat-datepicker>
                                                                </mat-form-field>
                                                                <!-- <input type="text" class="form-control datepicker outbonffrom" placeholder="From"/> -->
                                                            </div>
                                                            <div class="col-sm-5">
                                                                          <mat-form-field>
                                                                                <input matInput [matDatepicker]="outbonfto" placeholder="To">
                                                                                <mat-datepicker-toggle matSuffix [for]="outbonfto"></mat-datepicker-toggle>
                                                                                <mat-datepicker #outbonfto></mat-datepicker>
                                                                          </mat-form-field>
                                                                <!-- <input type="text" class="form-control datepicker outbonfto" placeholder="To"/> -->
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <button type="button" class="btn bggreen addDateBtn"><i class="fa fa-plus-circle"></i> Add</button>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="selectedDate" style="margin-top: 10px;">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="dropBoxSection active">
                                                                    <div class="form-control dropboxHead">Days of week <i class="fa fa-caret-down pull-right"></i></div>
                                                                    <ul class="dropbox">
                                                                        <li><mat-checkbox [(ngModel)]="wA1"></mat-checkbox><label for="wA1">Sunday</label></li>
                                                                        <li><mat-checkbox [(ngModel)]="wA2"></mat-checkbox><label for="wA2">Monday</label></li>
                                                                        <li><mat-checkbox [(ngModel)]="wA5"></mat-checkbox><label for="wA5">All</label></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row" style="margin-top: 40px">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Return Parameter"/>
                                                        <p>4,5,8 days of departure</p>
                                                    </div>

                                                </div>

                                                <h4>Departure Time</h4>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="dropBoxSection">
                                                            <div class="form-control dropboxHead">Departure Time from Origin <i class="fa fa-caret-down pull-right"></i></div>
                                                            <ul class="dropbox">
                                                                <li>
                                                                    <mat-checkbox ></mat-checkbox><label for="B6">Before 6AM</label></li>
                                                                <li><mat-checkbox ></mat-checkbox><label for="6A">6AM to 12Noon</label></li>
                                                                <li><mat-checkbox ></mat-checkbox><label for="12">12Noon to 6PM</label></li>
                                                                <li><mat-checkbox ></mat-checkbox><label for="A6">After 6PM</label></li>
                                                                <li><mat-checkbox ></mat-checkbox><label for="All">All</label></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="dropBoxSection">
                                                            <div class="form-control dropboxHead">Departure Time from Destination <i class="fa fa-caret-down pull-right"></i></div>
                                                            <ul class="dropbox">
                                                                <li><mat-checkbox></mat-checkbox> <label for="B61">Before 6AM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="6A1">6AM to 12Noon</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="121">12Noon to 6PM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="A61">After 6PM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="All1">All</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row margin30pxTop">
                                                    <div class="col-sm-12">
                                                        <p><mat-checkbox [(ngModel)]="term1"></mat-checkbox><label for="term1">Apply Reverse shopping from farthest date</label></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="Preferred">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="PreferredDate" placeholder="Departure Date">
                                                            <mat-datepicker-toggle matSuffix [for]="PreferredDate"></mat-datepicker-toggle>
                                                            <mat-datepicker #PreferredDate></mat-datepicker>
                                                        </mat-form-field>
                                                        <!-- <input type="text" class="form-control datepicker PreferredDate" placeholder="Departure Date"/> -->
                                                    </div>
                                                    <!-- <div class="col-sm-4"> -->
                                                    <!-- <input type="text" class="form-control datepicker" placeholder="Inbound Days"> -->
                                                    <!-- </div> -->
                                                    <!-- <div class="col-sm-4"> -->
                                                    <!-- <select class="form-control"> -->
                                                    <!-- <option>Days of week</option> -->
                                                    <!-- </select> -->
                                                    <!-- </div> -->
                                                    <div class="col-sm-2">
                                                        <button type="button" class="btn bggreen addPreferredDateBtn"><i class="fa fa-plus-circle"></i> Add</button>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="selectedPreferredDate" style="margin-top: 10px;">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 40px">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Return Parameter"/>
                                                        <p>4,5,8 days from departure</p>
                                                    </div>

                                                </div>
                                                <h4>Departure Time</h4>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="dropBoxSection">
                                                            <div class="form-control dropboxHead">Departure Time from Origin <i class="fa fa-caret-down pull-right"></i></div>
                                                            <ul class="dropbox">
                                                                <li><mat-checkbox></mat-checkbox> <label for="B62">Before 6AM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="6A2">6AM to 12Noon</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="122">12Noon to 6PM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="A62">After 6PM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="All2">All</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="dropBoxSection">
                                                            <div class="form-control dropboxHead">Departure Time from Destination <i class="fa fa-caret-down pull-right"></i></div>
                                                            <ul class="dropbox">
                                                                <li><mat-checkbox></mat-checkbox> <label for="B63">Before 6AM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="6A3">6AM to 12Noon</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="123">12Noon to 6PM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="A63">After 6PM</label></li>
                                                                <li><mat-checkbox></mat-checkbox> <label for="All2">All</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row margin30pxTop">
                                                    <div class="col-sm-12">
                                                        <p><mat-checkbox [(ngModel)]="A63"></mat-checkbox><label for="term">Apply Reverse shopping from farthest date</label></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="Range">

                                                <div class="row" style="margin-top: 40px">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Days Out Days"/>
                                                        <p>0-60, 82, 89, 104-110 departure days from today</p>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <select class="form-control">
                                                                    <option>Days of week</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 40px">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Return Parameter"/>
                                                        <p>4,5,8 days of departure</p>
                                                    </div>

                                                </div>

                                                <h4>Departure Time</h4>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="dropBoxSection">
                                                            <div class="form-control dropboxHead">Departure Time from Origin <i class="fa fa-caret-down pull-right"></i></div>
                                                            <ul class="dropbox">
                                                                <li><input type="checkbox" id="B62" /> <label for="B62">Before 6AM</label></li>
                                                                <li><input type="checkbox" id="6A2" /> <label for="6A2">6AM to 12Noon</label></li>
                                                                <li><input type="checkbox" id="122" /> <label for="122">12Noon to 6PM</label></li>
                                                                <li><input type="checkbox" id="A62" /> <label for="A62">After 6PM</label></li>
                                                                <li><input type="checkbox" id="All2" value="all" /> <label for="All2">All</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="dropBoxSection">
                                                            <div class="form-control dropboxHead">Departure Time from Destination <i class="fa fa-caret-down pull-right"></i></div>
                                                            <ul class="dropbox">
                                                                <li><input type="checkbox" id="B63" /> <label for="B63">Before 6AM</label></li>
                                                                <li><input type="checkbox" id="6A3" /> <label for="6A3">6AM to 12Noon</label></li>
                                                                <li><input type="checkbox" id="123" /> <label for="123">12Noon to 6PM</label></li>
                                                                <li><input type="checkbox" id="A63" /> <label for="A63">After 6PM</label></li>
                                                                <li><input type="checkbox" id="All2" value="all" /> <label for="All2">All</label></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row margin30pxTop">
                                                    <div class="col-sm-12">
                                                        <p><input type="checkbox" id="term" /><label for="term">Apply Reverse shopping from farthest date</label></p>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="channel">
                                <h4>Channel</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                         <mat-select placeholder = "Competitors" [(ngModel)] = "selectedChannel" >
                                        <mat-option *ngFor = "let channel of shop.shoppingChannels" 
                                            [value] = "channel">
                                            {{channel}}
                                        </mat-option>
                                        </mat-select>

                                        <!-- <select class="form-control">
                                            <option>Competitors</option>
                                            <option>Make my trip</option>
                                            <option>Go-IBIBO</option>
                                            <option>Yatra</option>
                                        </select> -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
                <!-- /.col -->
            </div>

            <div class="row buttonEvents">
                <div class="col-sm-12">
                    <button class="btn prev nextBtn">&laquo; Previous </button> 
                    <button class="btn next nextBtn"> Next &raquo; </button>
                    <button class="btn saveBtn">Save</button>
                    <button class="btn submitBtn">Submit</button>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </body>
    </div>