/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-drawer-inner-container {
  background: #41464c !important;
  /* color: #afb2b6 !important; */
}

/* .mat-select-trigger {
  border-bottom: 1px solid #ddd;
} */

.mat-select {
  width: 340px !important;
}
.mat-select-placeholder {
  color: #555;
}
.mat-checkbox-inner-container {
  margin-right: 10px !important;
}
.mat-checkbox-checked {
  color: #8cbe27 !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: darkorange;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}
.mat-form-field {
  width: 100% !important;
}
/* .mat-form-field-infix {
  width: 100% !important;
} */
.mat-input-element {
  border-bottom: 0px !important;
  caret-color: #8cbe27 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px !important;
}
.form-control .dropboxHead {
  border-bottom: 0px !important;
}
.dropboxHead {
  border-bottom: 0px solid #ddd !important;
}
.mat-radio-label-content {
  font-size: 16px !important;
  color: #666666 !important;
  margin-right: 30px !important;
  font-weight: normal !important;
  padding: 0 0px 0px 15px !important;
}
.mat-radio-label {
  font-weight: normal !important;
  margin-right: 2px !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #8cbe27;
}
.mat-radio-inner-circle {
  background-color: #8cbe27 !important;
}
.mat-radio-outer-circle {
  border-color: #8cbe27 !important;
}
