/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-drawer-inner-container {
  background: #41464c !important;
  color: #afb2b6 !important;
}

.mat-checkbox-inner-container {
  margin-right: 10px !important;
}
.mat-checkbox-checked {
  color: greenyellow !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: darkorange;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}
